.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body {
  padding: 0;
  background-color: #f7f7f7;
}
.left-panel {
  padding: 0;
  position: fixed;
  height: 100%;
  background-color: #16344e;
}
.left-panel .navbar-default {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  line-height: 30px;
}
.left-panel .dash-profile {
  padding: 15px;
  background-color: #337ab7;
}
.left-panel .dash-profile .profile-link {
  line-height: 40px;
  color: #ffffff;
}
.left-panel .dash-profile .profile-link img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
.left-panel .nav.list-group li a {
  border: none;
  border-bottom: thin solid #e2edf7;
  border-radius: 0;
}
.dash-panel {
  margin-top: 15px;
}
.dash-panel .dash-tabs {
  text-align: center;
  margin-top: 10px;
  background-color: #fff;
}
.dash-panel .dash-tabs .nav-tabs li {
  float: none;
  display: inline-block;
}
.dash-panel .dash-tabs .nav-tabs li a {
  display: inline-block;
  border: none;
  border-bottom: thin solid #e2edf7;
  padding: 25px 15px;
}
.dash-panel .dash-tabs .nav-tabs li a:hover,
.dash-panel .dash-tabs .nav-tabs li a:focus {
  border: none;
  border-bottom: thin solid #e2edf7;
}
.dash-panel .dash-tabs .nav-tabs li.active a {
  border-bottom: thin solid #337ab7;
}
.dash-panel .dash-tabs .nav > li > a:hover,
.dash-panel .dash-tabs .nav > li > a:focus {
  background-color: transparent;
}
.dash-panel .dash-tabs .tab-content {
  text-align: left;
  margin-top: 15px;
}
.dash-panel .dash-tabs .tab-content h4 {
  margin-top: 0;
  color: #777777;
}
.dash-panel .dash-top-bar {
  margin: -15px -15px 15px -15px;
  border-bottom: thin solid #eeeeee;
  background-color: #fff;
}
.dash-panel .dash-top-bar .input-group .input-group-addon {
  border-radius: 0;
}
.dash-panel .dash-top-bar .input-group input {
  padding: 25px 18px;
}
.dash-panel .dash-top-bar.crumbs {
  margin: -10px -15px;
  padding: 5px;
}
.dash-panel .dash-top-bar.crumbs h4 {
  margin: 5px;
}
.dash-panel .named-list li {
  padding: 5px 0;
}
.dash-panel .named-list li img {
  width: 35px;
  border-radius: 35px;
  margin-right: 15px;
}
